.card {
  direction: rtl;
  background-color: rgba(255, 255, 255, 0.7);
  width: 100%;
  padding: 1rem;
  padding-bottom: 0.25rem;
  margin-top: 5px;
  margin-bottom: 25px;
  border-radius: 1.5rem;
  display: flex;
  flex-direction: column; /* Changed to accommodate expandability */
  justify-content: space-between;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  box-shadow: 1px 5px 20px rgba(32, 32, 32, 0.3);
}

.card * {
  transition: all 0.3s ease-in-out;
}

.preview {
  display: flex;
  justify-content: space-between;
}

.avatar {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.avatarInfo {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.avatarname {
  transition: justify-content 0.5s ease, opacity 0.5s ease;
  transition: all 0.3s ease-in-out;
}

.cardInfo {
  display: flex;
  width: 50%;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  transition: all 0.3s ease-in-out;
  gap: 2rem;
}

.amount {
  direction: ltr;
}

.expandButton {
  background-color: transparent;
  border: none;
  color: rgba(2, 119, 189, 0.5);
  cursor: pointer;
  text-align: right;
  display: flex;
  justify-content: center;
  margin-top: 0.5rem;
}

.expandedContent {
  padding-top: 1rem;
}
.link {
  color: rgba(2, 119, 189, 1);
  text-decoration: underline;
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;
}
